# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Caches
__pycache__/
*.pycache/

# Virtual environments
venv/
env/

# Fichiers d'environnement (tous les fichiers nommés .env)
.env

# Fichiers spécifiques à Django
db.sqlite3
*.log
migrations/

# Fichiers temporaires ou de build (Docker, etc.)
*.pid
*.sock

# Si vous souhaitez ignorer les répertoires de logs dans vos microservices
**/logs/

# Optionnel : Ignorer les dossiers de configuration spécifiques à l'IDE
.vscode/
.idea/
