apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: playground-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/Ecole42AS/42cursus' # CHANGE THIS to your repo URL
    targetRevision: HEAD
    path: 42spe/inceptionOfThings/github_files/app # Path to the app folder in the repo
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
